@import 'https://fonts.googleapis.com/css?family=Montserrat';

body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

#head {
    border: 1px solid white;
    margin-right: 991px;
}

h1 {
    color:#b2a6b0;
    text-align: left;
    /*padding-top: 20px;*/
    font-size: 40px;
    text-transform: uppercase;
    margin-top: -4px;
}

h2 {
    color: #6377dc;
    margin-top: -30px;
    margin-bottom: -1px;
}

.divTable {
    display: table;
    width:auto;
    /*background-color: #999;
    border: 1px solid red;
    border-spacing: 5px;*/
    /*padding-left: 100px;*/
    background-image: url("https://newevolutiondesigns.com/images/freebies/cool-wallpaper-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 400px;

}

.divRow {
    display: table-row;
    width: auto;
}

.divCell {
    float: left;
    display: table-column;
    width: 150px;
    height: 110px;
    /*background-color: #336354;*/
    text-align: center;
    border: 1px solid #9ba79e;
    font-size: 80px;
    padding-top: 15px;
    color: white;
    font-family: Verdana;

}

.divCell:hover {
    color: #c473d3;
}

strong {
    color:#c473d3;
}

#message {
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 25px;
}
 a {
    color: white;
    text-decoration: none;
    padding: 10px;
    /*border: 1px solid #c473d3;*/
    text-align: center;
    display: inline-block;
    margin-left: 400px;
    background-color:black;
 }

 a:hover {
    color: white;
    background-color: #c473d3;
 }
